

<footer class="footer  bg-dark text-center mb-0 py-2  ">

<div class="row  mx-0">

    <div class="col-6  ">

        <br>
        <p style="color:#FFFFFF">
            MigFer - Servicios de Aseo
            &copy; Miguel Esquivel 2019
        </p>

    </div>

    <div class="col-xs-2">
        <br>
        <p class="text-white">Visitanos en: </p>
    </div>
    <div class="col-1">
            <br>
            <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-square" style="font-size: 40px; color:  white"></i></a>


    </div>

    <div class="col-1">
        <br>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square" style="font-size: 40px; color: white"></i></a>


    </div>

    <div class="col-1">
        <br>
<a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" style="font-size: 40px; color: white"></i></a>


    </div>

    </div>
</footer>
