
<div class="container  ">
    <div class="row">
        <div class="col-7">

            <p class="text-align-left mt-3 display-3 ">Nosotros</p>
            <br>
            <p class="text-justify">EcoCleans inició ofreciendo servicios de aseo de residencial, antes las diferentes necesidades de sus clientes
                fue incorporando una serie de otros servicios, de manera de brindar servicios integrales de calidad.
                 Durante su existencia, experiencia, conocimiento y calidad de los servicios que brinda.</p>

        </div>

        <div class="col-5">
            <br>
            <br>
            <br>
            <img src="assets/img/nosotros.jpg" class="img-fluid rounded border" alt="">
        </div>

    </div>

<br>
<br>

    <div class="row ">

        <div class="col-4 ">
            <img src="assets/img/mision1c.png" class="img-fluid img-responsive mx-auto d-block my-5 rounded-circle border" alt="">
        </div>

        <div class="col-8">
            <h1>Misión</h1>
            <p class="text-justify">Nuestra empresa se especializa en servicios eficientes de aseo y soluciones integrales. Para esto contamos con personal capacitado en cada actividad operativa, con supervisión continua para brindarle soluciones reales y efectivas, utilizando equipos y maquinarias con tecnología de punta e insumos que no dañen el medio ambiente.</p>
        </div>

    </div>

<br>

    <div class="row ">

        <div class="col-4 ">
            <img src="assets/img/vision1c.png" class="img-fluid img-responsive mx-auto d-block my-5 rounded-circle border" alt="">

        </div>

        <div class="col-8">
            <h1>Visión</h1>
            <p class="text-justify">Queremos mantener el reconocimiento y prestigio del mercado como Líderes en el Servicio de Aseo Integral y Servicios Generales, posicionándonos como una empresa, profesional, responsable e innovadora. Nos ajustamos a todas sus necesidades de Aseo y Limpieza Industrial, Servicio de Aseo a Empresas, Limpieza de Vidrios, Aseo y Limpieza a Oficinas, Servicio de Limpieza de Alfombras, desmanchado de tapices, Limpieza y Aseo a Domicilio, Limpieza de Pisos y Sanitizado, a un presupuesto muy conveniente para usted.</p>

        </div>

    </div>

<br>
    <div class="row">

        <div class="col-4">
            <img src="assets/img/valores1c.png" class="img-fluid img-responsive mx-auto  d-block my-2 rounded-circle border" alt="">

        </div>

        <div class="col-8">
            <h1>Filosofia</h1>
            <p class="text-justify">Limpieza en todos nuestros actos de vida, y especialmente en nuestras relaciones personales, laborales y de negocios.</p>
<br>
<br>
        </div>

    </div>
    <br>
    <br>

</div>
