<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 my-2 pt-3  ">

            <p class="text-center  ">Aseo Industrial</p>
            <br>
            <p>¿Una Empresa De Aseo Que Cumpla Con Los Estandares De Limpieza En Industrias?</p>
            <p>
                Al momento que usted tenga que seleccionar una empresa de servicios, se deben considerar variados aspectos tales como: una reconocida experiencia en el mercado; infraestructura y respaldo confiable Aseo Industrial define la acción de mantener la limpieza profunda en las diversas áreas de una planta de producción y/o del trabajo habitual, en lo que se utilizan personal, equipos y elementos mecánicos y productos limpiadores sin dañar las estructuras y mantener el medio ambiente. El servicio de Aseo Industrial contempla varias Instalaciones y Equipos críticos, y se debe garantizar la calidad, seguridad y cumplimiento de plazos en el desarrollo de este servicio, para poder mantener los procesos productivos de la organización.
            </p>






        </div>

        <div class="col-12 col-md-6 my-2 pt-3 text-center ">
            <br>
            <br>

            <img src="assets/img/aseo_industrial.jpg" class="img-fluid img-responsive rounded"   alt="">

        </div>

    </div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
