<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 my-2 pt-3  ">

            <p class="text-center  ">Area Comercial</p>
            <br>
            <p>¿Por Qué Elegir EcoCleans En Servicios De Mantención De Limpieza De Su Oficina?</p>
            <p>
                <i class="fa fa-check" ></i>
                 Somos una Empresa de Aseo que poseemos experiencia por más de 10 años entregando Soluciones en Servicios de Mantención de Limpieza.

            </p>
            <p>
                <i class="fa fa-check" ></i>
                Poseemos una especial preocupación y cuidado de nuestros trabajadores, pues son el pilar fundamental de la Calidad del Servicio.

            </p>
            <p>
                <i class="fa fa-check" ></i>
Incentivamos el respeto entre las personas.

            </p>
            <p>
                <i class="fa fa-check" ></i>
Disponemos de un departamento activo de Capacitación y Prevención de Riesgo que trabajará en conjunto con los Prevencionista de nuestros Clientes.

            </p>
            <p>
                <i class="fa fa-check" ></i>
Enfocamos nuestra gestión en una constante y profunda Supervisión que nos permita un mejoramiento continuo de la Calidad de nuestros Servicios, con visitas mínimas semanales.

            </p>
            <p>
                <i class="fa fa-check" ></i>
Disponemos de una SubGerencia de Operaciones con un equipo de trabajo enfocada en nuestros Clientes.

            </p>
            <p>
                <i class="fa fa-check" ></i>
                Trabajamos con Programas de Limpieza, permitiéndonos objetivizar los procesos de Supervisión.



            </p>
            <p>
                <i class="fa fa-check" ></i>
                Contamos con estrictos y automatizados sistemas de Control de Asistencia.



            </p>




        </div>

        <div class="col-12 col-md-6 my-2 pt-3 text-center ">

            <img src="assets/img/aseo_comercial.png" class="img-fluid img-responsive  rounded "   alt="">

        </div>

    </div>

</div>
