<div class="container  " >


    <div class="row text-center">
        <div class="col-12">
            <h2 class="display-3">Novedades</h2>
        </div>
    </div>

    <div class="row">

    <div class="col-6">
        <h2>Ofertas por año nuevo</h2>
        <br>
        <br>
        <p>Empezamos este 2020 con nuevos descuenta en todos nuestros servicios la primera semana del año!!!</p>
        <p>Sabemos que despues de las fiestas hay mucho que limpiar pero no se preocupen, nosotros estamos para ellos, no duden en contactarnos.</p>
        <p>Les deseamos un feliz 2020!!!</p>
    </div>

    <div class="col-6">
        <img src="assets/img/nuevo.jpg" class="img-fluid rounded border" alt="">
    </div>

    </div>
<br>
<br>

    <div class="row">

        <div class="col-6">
            <img src="assets/img/capacitar.jpg" class="img-fluid rounded border" alt="">
        </div>

        <div class="col-6">
        <h2>Personal capacitado</h2>
        <br>
        <br>
        <p>Como todos los años, nuestro personal realizara capacitaciones referente a los mejores metodos de limpieza y atencion al cliente.</p>

        </div>

    </div>

<br>
<br>
    <div class="row">

        <div class="col-6">
            <h2>Nueva sucursal</h2>
            <p>Como la sucursal en Iquique fue muy bien recibida.</p>
            <p>Este 2020 se inaugurará una nueva sucursal en la comuna de Alto Hospicio.</p>
            <p>Esperamos cumplir con sus expectativas al igual que el año pasado.</p>
        </div>

        <div class="col-6">
            <img src="assets/img/nuevo_e.jpg" class="img-fluid rounded border" alt="">
        </div>

    </div>
<br>
<br>
</div>
